/* Colors
    00FF2A
    00FFF6 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("styles/partials/_variables.css");
html {
    outline: none;
    overflow-x: hidden;
}


/* Navbar */

#nav-bar-icon {
    height: 30px;
    width: 102px;
    padding: 3px 9px;
}

.navbar-list {
    color: #707070;
    margin-left: auto;
}

.nav-item {
    padding: 10px;
}

.header-area.main-menu.navbar.navbar-brand {
    padding: 0 2rem 0 5rem;
}

.nav-link {
    font-family: "Poppins";
    color: var(--base-color) !important;
    font-weight: 500;
    padding: 0 1.7rem;
}

.header-area .main-menu .navbar-nav .active {
    background: linear-gradient(90deg, #00FF2A 0%, #00FFF6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav-item a:hover {
    background: linear-gradient(90deg, #00FF2A 0%, #00FFF6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* Navbar */


/* Scroll Bar */


/* width */

::-webkit-scrollbar {
    width: 8px;
    padding: 0px 2px;
    margin: 0px 3px;
    z-index: 3;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: transparent;
    padding: 0px 2px;
    margin: 0px 3px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
    padding: 0px 2px;
    margin: 0px 3px;
    height: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Scroll Bar */


/* Main site */


/* section1 */

.site-main {
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.banner-title-text {
    font-weight: 300;
    font-family: "Poppins";
    padding-top: 20%;
    font-size: 28px;
}

.banner-title-text::after {
    content: "";
    height: 2px;
    width: 120px;
    background: black;
    display: inline-block;
    margin-left: 4%;
    transform: translateY(-1.5vw);
    align-items: center;
}

.banner-name-text {
    font-weight: 400;
    font-family: "Poppins";
    padding: 2px;
    padding-left: 0px;
    font-size: 36px;
}

.banner-highlight {
    font-weight: 300;
    font-family: "Poppins";
    padding: 2px;
    font-size: 24pxpx;
    padding: 16px 16px 16px 0px;
}

.button {
    margin-top: 4%;
    background-image: linear-gradient(45deg, #00FF2A 0%, #00FFF6 100%);
    color: white;
    font-weight: 500;
    font-family: "Poppins";
    border-radius: 8px;
    border: #FFFFFF solid 1px;
    transition: all, 500ms;
}


/* .download-icon {
    visibility: hidden;
} */

.button:hover,
.button:active {
    background-image: linear-gradient(90deg, #00FF2A 0%, #00FFF6 100%);
}


/* Main site */


/* About Site*/

.section {
    width: 100%;
    padding: 20px;
    outline: none;
}

.section-header {
    font-size: 32px;
    font-family: "Poppins";
    text-align: center;
}

.section-header::before {
    content: "";
    position: relative;
    display: block;
    width: 120px;
    height: 1px;
    background: grey;
    top: 40px;
    left: calc(50% - 60px);
}

.section-header::after {
    content: "";
    position: relative;
    display: block;
    width: 40px;
    height: 3px;
    background: #00FF2A;
    bottom: 0;
    left: calc(50% - 20px);
}

.timeline {
    font-family: "Poppins";
    margin-top: 30px;
}

.timeline ul {
    list-style: none;
    margin: 0 !important;
}

.timeline a {
    text-decoration: none !important;
    display: inline-block;
}

.timeline img {
    max-width: 100%;
}

.timeline button:focus {
    outline: none;
}

.timeline h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    margin: 0;
    font-size: 24px;
}

.timeline p {
    font-size: 14px;
    line-height: 26px;
    margin: 0;
}

.timeline .container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

.d-flex-2 {
    display: flex;
    align-items: center;
}

.timeline-area {
    padding: 80px 0;
}

.all-timelines {
    position: relative;
}

.timelines h2 {
    text-align: center;
    color: black;
    font-weight: 600;
    margin-bottom: 40px;
}

.all-timelines::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 2px;
    background: #efa22f;
    top: 20px;
}

.single-timeline {
    margin-bottom: 120px;
}

.timeline-blank {
    width: 50%;
}

.timeline-text {
    width: 50%;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.timeline-text h6 {
    color: black;
    font-weight: 900;
    display: inline-block;
    font-size: 1rem;
}

.timeline-text span {
    color: black;
    display: block;
    width: 100%;
}

.single-timeline:nth-child(even) .timeline-text span {
    text-align: right;
}

.t-square {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    left: -6px;
    background: #efa22f;
}

.single-timeline:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.single-timeline:nth-child(even) .t-square {
    right: -6px;
    left: unset;
}

.single-timeline:nth-child(even) .timeline-text {
    padding-left: 0;
    padding-right: 30px;
    text-align: right;
}

@media all and (max-width: 991px) {}

@media all and (max-width: 768px) {
    .all-timelines::before {
        right: unset;
        top: 0;
    }
    .single-timeline:nth-child(2n) .timeline-text {
        padding-left: 30px;
        padding-right: 0;
        text-align: left;
    }
    .single-timeline:nth-child(2n) .t-square {
        left: -6px;
        right: unset;
    }
    .timeline-blank {
        display: none;
    }
    .timeline-text {
        width: 100%;
    }
    .single-timeline:nth-child(even) .timeline-text span {
        text-align: left !important;
    }
}

@media all and (max-width: 575px) {}

@media all and (max-width: 360px) {
    .all-timelines::before {
        top: 32px;
    }
}


/* Skill Section */

.card-container {
    align-items: justify;
    margin-top: 40px;
}

.card {
    height: 120px;
    width: 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 18px;
    font-family: "Poppins";
    font-size: 12px;
    text-align: center;
    transition: all 1s;
}

.card .skill {
    height: 65%;
    align-self: center;
    margin: 10px 10px 5px 10px;
}

.card:hover {
    height: 125px;
    width: 125px;
}


/* Certification */


/* About Site */


/* Contact Site */

.d-flex {
    display: flex;
    align-items: center;
}

.contact-container {
    display: block;
    width: 100%;
}

.social-media {
    margin: 12px;
    padding: 4px;
}

a {
    text-decoration: none;
    outline: none;
    color: black;
}

a :visited {
    text-decoration: none;
}

a :hover {
    color: #00FFF6;
}

.sm-card {
    width: 60px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    margin: 6px;
    font-family: "Poppins";
    font-size: 12px;
}

.icon {
    margin: 4px;
    padding: 4px;
}

#get-in-touch {
    font-size: 32px;
    font-family: "Poppins";
    text-align: center;
}

#get-in-touch::before {
    content: "";
    position: relative;
    display: block;
    width: 120px;
    height: 1px;
    background: grey;
    top: 50px;
    left: calc(50% - 60px);
}

#get-in-touch::after {
    content: "";
    position: relative;
    display: block;
    width: 40px;
    height: 3px;
    background: #00FF2A;
    bottom: 0;
    left: calc(50% - 20px);
}

.contact-form {
    margin: 12px;
    padding: 8px;
    outline: none;
    display: block;
}

.form {
    margin: 2px;
    padding: 4px;
    left: 35%;
}

#name {
    width: 320px;
    border-radius: 6px;
    border: 1px;
    background-color: #EEE;
}

#email {
    width: 320px;
    border-radius: 6px;
    border: 1px;
    background-color: #EEE;
}

#message {
    width: 320px;
    height: 240px;
    text-align: start;
    text-align: top;
    border-radius: 6px;
    border: 1px;
    background-color: #EEE;
}

#submit {
    margin: 4px;
    padding: 6px;
    border-radius: 6px;
    border: none;
    font-family: "Poppins";
    background-color: #EEE;
}