/* Colors
    00FF2A
    00FFF6 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("styles/partials/_variables.css");
* {
    outline: none;
}


/* Navbar */

#nav-bar-icon {
    height: 30px;
    width: 102px;
    padding: 3px 9px;
}

.navbar-list {
    color: #707070;
    margin-left: auto;
}

.nav-item {
    padding: 10px;
}

.header-area.main-menu.navbar.navbar-brand {
    padding: 0 2rem 0 5rem;
}

.nav-link {
    font-family: "Poppins";
    color: var(--base-color) !important;
    font-weight: 500;
    padding: 0 1.7rem;
}

.header-area .main-menu .navbar-nav .active {
    background: linear-gradient(90deg, #00FF2A 0%, #00FFF6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav-item a:hover {
    background: linear-gradient(90deg, #00FF2A 0%, #00FFF6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* Navbar */


/* Banner */

.banner-title-text {
    font-weight: 300;
    font-family: "Poppins";
    padding-top: 20%;
    font-size: 5vw;
}

.banner-title-text::after {
    content: "";
    height: 2px;
    width: 38vw;
    background: black;
    display: inline-block;
    margin-left: 4%;
    transform: translateY(-1.5vw);
    align-items: center;
}

.banner-name-text {
    font-weight: 400;
    font-family: "Poppins";
    padding: 2px;
    padding-left: 0px;
    font-size: 9vw;
}

.banner-highlights {
    font-weight: 300;
    font-family: "Poppins";
    padding: 2px;
    font-size: 6px;
}

.button {
    margin-top: 2%;
    background-image: linear-gradient(45deg, #00FF2A 0%, #00FFF6 100%);
    color: white;
    font-weight: 500;
    font-family: "Poppins";
    border-radius: 8px;
    border: #FFFFFF solid 1px;
    transition: all, 500ms;
}


/* .download-icon {
    visibility: hidden;
} */

.button:hover,
.button:active {
    background-image: linear-gradient(90deg, #00FF2A 0%, #00FFF6 100%);
}


/* Banner */


/* Footer */

footer {
    background-color: grey;
    height: 80px;
    width: 100%;
}

.social-media a,
.social-media a:active {
    color: transparent;
    outline: none;
}

.social-media-text {
    color: white;
    text-align: center;
    font-family: "Poppins";
    padding: 4px;
}

.social-media-icons {
    align-items: center;
    display: flex;
    justify-content: center;
}

.social-media .icon {
    color: white;
    padding: 4px;
    margin: 4px 8px;
}

.social-media .icon:hover {
    color: #b1b0b0;
}


/* Footer */